name: Retail DWH CI

on:
  push:
    branches: [ main, master, ci ]
  pull_request:
    branches: [ main ]

jobs:

  # linter job
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Run flake8
        run: |
          flake8 .

  # build docker instance after linting is successful
  build:
    needs: linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Airflow Image
        run: |
          docker build -t retail-airflow:test .

      - name: Build Generator Image
        run: |
          docker build -t retail-generator:test ./generator